<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">메인으로</a>
    <h1>게시글 리스트</h1>
    <div>
        <ol>
            <li th:each="dto : ${resPostDTOList}">
                <div>제목 : <span th:text="${dto.postTitle}"></span>
                </div>
                <div>내용 : <span th:text="${dto.postContent}"></span>
                </div>
                <div>글쓴이 번호 : <span th:text="${dto.postUserIdx}"></span>
                </div>
            </li>
        </ol>
    </div>
</body>
</html>