<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="text" placeholder="새 지역">
    <button class="add-button">추가</button>

    <ul>
        <li th:each="dto : ${resMainDTOList}">
            <span th:text="${dto.regionsName}">1. 유럽</span>
            <button class="del-button">X</button>
        </li>
    </ul>


</body>
</html>