<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>게시글 리스트</h1>
    <div th:each="dto : ${resSecondDTOList}">
        <div>제목: <span th:text="${dto.title}"></span></div>
        <div>내용: <span th:text="${dto.content}"></span></div>
        <div>글쓴이 번호: <span th:text="${dto.userIdx}"></span></div>
        <hr>
    </div>

</body>
</html>
